<table role="presentation" border="0" cellpadding="0"
       cellspacing="0">
  <tr>
    <td>
      <p>
        Veuillez cliquer sur le bouton suivant
        pour changer votre mot de passe.
      </p>
      <br />
      <table role="presentation" border="0" cellpadding="0"
             cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
          <td align="left">
            <table role="presentation" border="0"
                   cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td> <a href="{{var:validationUrl}}"
                        target="_blank">
                  Changez votre mot de passe
                </a>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
