<table role="presentation" border="0" cellpadding="0"
       cellspacing="0">
  <tr>
    <td>
      <p>Bonjour,</p>
      <p>Vous avez demandé la réinitialisation de votre mot de passe pour votre compte sur <strong>Le Sentier des Rêves</strong>.</p>
      <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le bouton ci-dessous :</p>
      <p>Ce lien est valide pour une durée d'une heure. Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail.</p>
      <p>Merci et à bientôt sur <strong>Le Sentier des Rêves</strong> !</p>

      <br />
      <table role="presentation" border="0" cellpadding="0"
             cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
          <td align="left">
            <table role="presentation" border="0"
                   cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td> <a href="{{var:validationUrl}}"
                        target="_blank">
                  Changez votre mot de passe
                </a>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
